<div class="nav-links">
    <ul>
    {{#foreach navigation}}
        <li>
            <a class="menu-button" href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}

        <li>
            <a class="icon-feed menu-button" href="{{@blog.url}}/rss/">Subscribe</a>
        </li>
    </ul>
</div>